@import "tailwindcss";

@keyframes shake {
  0% {
    transform: translateX(10%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

.card-btn:hover .btn-icon-animate {
  animation: shake 0.3s linear;
}
